# Force GitHub Linguist to treat HTML, CSS, and JS as part of Python (Django)
*.html linguist-language=yml
*.css linguist-language=yml
*.js linguist-language=yml
*.python linguist-language=yml

# Optionally exclude static and templates directories from stats
static/* linguist-vendored
templates/* linguist-vendored
